body > header {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.home_page ul,
.logo {
  display: flex;
  flex-direction: row; }

.logo {
  padding: 1rem; }

.logo a:nth-of-type(1) {
  padding-right: 0.5rem;
  padding-top: 0.5rem; }

.home_page li {
  list-style: none;
  padding: 1rem; }

.home_page a {
  color: #4B5D68;
  font-size: 16px; }

a {
  text-decoration: none; }

.button {
  border: none;
  width: 140px;
  height: 50px;
  border-radius: 50px;
  margin-top: 1rem;
  background: #FFFFFF;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px; }

.request a {
  color: #212353; }

@media (min-width: 1114px) {
  body > header {
    width: 90%;
    padding-left: 4rem;
    padding-right: 4rem; } }

.masthead {
  padding: 1rem;
  text-align: center; }

main {
  background-color: #ffff; }

h2 {
  color: #212353;
  font-size: 80px;
  font-weight: normal; }

.learn_more {
  background-color: #9C69E2; }

.learn_more a {
  color: #ffff; }

.info {
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68; }

@media (min-width: 1114px) {
  .masthead {
    text-align: start;
    padding-top: 80px;
    background-image: url("../img/image1.svg");
    background-repeat: no-repeat;
    background-position: top 120% right;
    padding-left: 4rem;
    padding-right: 4rem; }
  .masthead h2 {
    width: 645px;
    height: 184px; }
  .info {
    width: 380px;
    height: 120px; } }

.storage_bank {
  padding: 1rem; }

.storage_bank .container {
  padding: 1rem;
  text-align: center;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px; }

.storage_bank h3 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  color: #212353; }

.storage_bank p {
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68; }

@media (min-width: 1114px) {
  .storage_bank {
    padding-left: 4rem;
    padding-right: 4rem; }
  .storage_bank .container {
    background-image: url("../img/image2.svg");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 50%;
    text-align: left; }
  .storage_bank h3 {
    width: 475px;
    height: 100px; }
  .storage_bank p {
    width: 474px;
    height: 170px; } }

.features {
  padding: 1rem; }

.features > header {
  text-align: center; }

.details {
  padding-left: 3rem;
  padding-right: 3rem; }

.features h3 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
  color: #212353; }

.features p {
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68; }

.features_details {
  border-radius: 30px;
  text-align: left;
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  position: relative;
  padding-left: 30%; }

.search_data {
  background-color: rgba(104, 201, 186, 0.1); }

.hours_access {
  background-color: rgba(156, 105, 226, 0.1); }

.print {
  background-color: rgba(240, 99, 184, 0.1); }

.code {
  background-color: rgba(45, 156, 219, 0.1); }

.code::before,
.hours_access::before,
.search_data::before,
.print::before {
  content: "";
  position: absolute;
  display: block;
  top: 25%;
  left: -5rem;
  background-size: contain;
  width: 120px;
  height: 130px;
  padding-left: 4rem;
  background-repeat: no-repeat;
  background-position: 50% center; }

.code::before {
  background-image: url("../img/code.svg"); }

.print::before {
  background-image: url("../img/print.svg"); }

.hours_access::before {
  background-image: url("../img/hour-access.svg"); }

.search_data::before {
  background-image: url("../img/search-dat.svg"); }

@media (min-width: 1114px) {
  .features {
    padding: 4rem; }
  .details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 200px;
    row-gap: 70px;
    padding-left: 4rem;
    padding-right: 4rem; }
  /* .features {
    max-width: 1114px;
    margin: 0 auto;
  }*/
  .features_details {
    border-radius: 30px;
    width: 274px;
    height: 320px;
    margin-top: 20%;
    text-align: left;
    padding-left: 30%;
    padding-right: 1rem;
    margin: 0; }
  h4 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    color: #212353; }
  .features > p {
    width: 220px;
    height: 160px; } }

.testemony_details {
  padding: 1rem;
  background: #9C69E2;
  border-radius: 50px; }

.testemonials h3 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #FFFFFF; }

.testemonial_list {
  display: flex;
  flex-direction: column; }

.testemonial_list_item {
  background: #FFFFFF;
  box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
  border-radius: 20px;
  margin-bottom: 1rem;
  padding: 1rem; }

.testemonial_list_item:nth-of-type(2) {
  margin-left: 0; }

.profile {
  display: flex;
  flex-direction: row; }

.testemony_post {
  display: flex;
  flex-direction: column;
  padding: 1rem; }

.name {
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 160%;
  display: flex;
  align-items: center;
  letter-spacing: 0.005em;
  color: #212353; }

.profession {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #9C69E2; }

.testemony_info {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  color: #4B5D68;
  padding-left: 18%; }

@media (min-width: 1114px) {
  .testemonials {
    padding-left: 4rem;
    padding-right: 4rem; }
  .testemonial_list {
    display: flex;
    flex-direction: row;
    padding: 2rem; }
  .testemonial_list_item {
    width: 300px;
    /* height: 300px; */
    padding: 3rem;
    margin-right: 2rem; }
  .testemony_info {
    /* width: 30vw; */
    /* height: 130px; */
    padding-left: 20%;
    padding-right: 30%; }
  .testemonial_list_item:nth-of-type(2) {
    margin-left: 2rem; } }

.post_components li {
  list-style: none; }

.address_intro {
  padding: 1rem; }

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem; }

.about > li {
  padding-top: 1rem; }

.about a {
  font-size: 16px;
  line-height: 250%;
  color: #212353; }

.active {
  font-weight: 900;
  font-size: 16px;
  line-height: 160%;
  color: #212353; }

.about_list,
.help_list,
.social_media_list {
  padding-left: 0;
  padding-top: 1rem; }

.social_media_list {
  display: flex;
  flex-direction: row; }

.social_media_list_item {
  padding-right: 1rem; }

footer {
  padding: 1rem;
  background-color: #ffff; }

.marketing {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 700;
  font-style: normal; }

.limit {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68; }

.more_about {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.post_link {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

footer .button {
  margin-right: 1rem; }

footer .learn_more {
  background-color: hotpink; }

footer .logo {
  padding: 0; }

.logo p {
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 160%;
  color: #212353;
  margin: 0;
  padding-left: 1rem; }

.address p {
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: #212353; }

.address span {
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: #212353; }

.copyright {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.copyright img {
  width: 50px;
  height: 50px; }

.copyright p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 180%;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #212353; }

@media (min-width: 1114px) {
  footer {
    padding: 4rem; }
  .address_intro {
    position: absolute;
    padding: 2rem; }
  .post_components {
    padding-left: 30%; }
  .more_about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem; }
  .post_link {
    margin-top: 3rem; } }
